  <!DOCTYPE html>
  <html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <div class="col-md-12" id="multiview">
      <div class="row">
        <div class="col-md-4 vp vp-large" id="vp-left">
          <div class="videoInfo tiny"></div>
          <video id="vpleft"></video>
          <div class="tiny overlay" id="vpleft-meta"></div>
          <div id="vpleft-title"></div>
        </div>
        <div class="col-md-4 info">
          <p class="tiny">Based on hls.js and ShakaPlayer</p>
        </div>
        <div class="col-md-4 vp vp-large">
          <div class="videoInfo tiny"></div>
          <video id="vpright"></video>
          <div class="tiny overlay" id="vpright-meta"></div>
          <div id="vpright-title"></div>
        </div>
        <div><p class="tiny text-center">Click on viewport to activate audio | SPACE - pause/resume | F - toggle fullscreen | 1-8 - activate viewport</p>
        </div>
        <div id="audioMeter"></div>
      </div>
      <div class="row">
        <div class="col-md-3 vp">
          <div class="videoInfo tiny"></div>
          <video id="vp00" class="video-active"></video>
          <div class="shortcut">1</div>
          <div class="tiny overlay" id="vp00-meta"></div>
          <div class="title" id="vp00-title"></div>
        </div>
        <div class="col-md-3 vp">
          <div class="videoInfo tiny"></div>
          <video id="vp01" class="video-active"></video>
          <div class="shortcut">2</div>
          <div class="tiny overlay" id="vp01-meta"></div>
          <div class="title" id="vp01-title"></div>
        </div>
        <div class="col-md-3 vp">
          <div class="videoInfo tiny"></div>
          <video id="vp02" class="video-active"></video>
          <div class="shortcut">3</div>
          <div class="tiny overlay" id="vp02-meta"></div>
          <div class="title" id="vp02-title"></div>
        </div>
        <div class="col-md-3 vp">
          <div class="videoInfo tiny"></div>
          <video id="vp03" class="video-active"></video>
          <div class="shortcut">4</div>
          <div class="tiny overlay" id="vp03-meta"></div>
          <div class="title" id="vp03-title"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 vp">
          <div class="videoInfo tiny"></div>
          <video id="vp10" class="video-active"></video>
          <div class="shortcut">5</div>
          <div class="tiny overlay" id="vp10-meta"></div>
          <div class="title" id="vp10-title"></div>
        </div>
        <div class="col-md-3 vp">
          <div class="videoInfo tiny"></div>
          <video id="vp11" class="video-active"></video>
          <div class="shortcut">6</div>
          <div class="tiny overlay" id="vp11-meta"></div>
          <div class="title" id="vp11-title"></div>
        </div>
        <div class="col-md-3 vp">
          <div class="videoInfo tiny"></div>
          <video id="vp12" class="video-active"></video>
          <div class="shortcut">7</div>
          <div class="tiny overlay" id="vp12-meta"></div>
          <div class="title" id="vp12-title"></div>
        </div>
        <div class="col-md-3 vp">
          <div class="videoInfo tiny"></div>
          <video id="vp13" class="video-active"></video>
          <div class="shortcut">8</div>
          <div class="tiny overlay" id="vp13-meta"></div>
          <div class="title" id="vp13-title"></div>
        </div>
      </div>

    </div>
    <script src="javascripts/hls.min.js" type="text/javascript"></script>
    <script src="javascripts/shaka-player.compiled.js" type="text/javascript"></script>
    <script src="javascripts/viewer.js" type="text/javascript"></script>
    <script src="javascripts/hover.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(event) {
        initMultiView(<%- conf %>);
        initKeyControls();
      });
    </script>
  </body>
  </html>
